


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      
      <form
        (ngSubmit)="onSubmit"
        #f="ngForm">

        <div class="form-group">

          <div class="myComp">
            <label for="email">Mail</label>
            <input
              type="text"
              name="email"
              id="email"
              class="form-control"
              ngModel
              required
              email
              #email="ngModel"
            >
            <span class="help-block"
              *ngIf="!email.valid && email.touched"
              >
              Please enter a valid email address!
            </span>
          </div>
        </div>

        <div class="form-group">
          <div class="myComp">
            <label for="mode">Mode</label>
            <select
              class="form-control"
              id="mode"
              name="mode"
              [ngModel]="selectedMode"
              #mode="ngModel"
              >
              <option
                *ngFor="let mode of modes"
                [value]="mode"
                >
                {{ mode }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="myComp">
            
            <label for="password">Password</label>
            <input
              class="form-control"
              type="password"
              id="password"
              name="password"
              ngModel
              required
              #password="ngModel"
            >
            <span class="help-block"
              *ngIf="!password.valid && password.touched"
              >
              Please enter a valid password!
            </span> 
          </div>
        </div>
        <div class="form-group">
          <div class="myComp">
            <button
              class="btn btn-primary"
              type="submit"
              (click)="onSubmit()"
              [disabled]="!f.valid"
              >
              Submit
            </button>
          </div>
        </div>
        <div class="form-group">
          <div class="myComp">
            <div class="row">
              <div class="col-xs-12">
                <p
                  *ngIf="!f.valid && f.touched"
                  >
                  This Form is invalid
                </p>
              </div>
            </div>
          </div>

        </div>

        <hr>

        <div class="myComp">

          <div class="row" *ngIf="f.valid">
            <div class="col-xs-12">
              <h4>Form Data</h4>

              <p>Mail: {{ formData.mail }}</p>
              <p>Mode: {{ formData.mode }}</p>
              <p>Password: {{ formData.pwdVal }}</p>

            </div>
          </div>
        </div>

      </form>
      
      
      
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
    </div>
  </div>
</div>
