<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <button
        class="btn-btn-primary"
        (click)="onAddServer()"
        >
        Add Server
      </button>

      <input type="text"
        [(ngModel)]="filterValue"
      >

      <hr>
      <h4>The state: {{ appStatus | async }}</h4>
      <hr>

      <div *ngIf="!completed">
        <hr>
        <h4>Observable state: {{ appStatus2 | async }}</h4>
        <hr>
      </div>

      <hr>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter:filterValue:'status'"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name | shorten:16 }}</strong> |
          {{ server.instanceType | uppercase }} |
          {{ server.started | date:'fullDate' | uppercase }}
        </li>
      </ul>
    </div>
  </div>
</div>
