<div class="row">
  <div class="col-xs-10 col-sm-8 col-md-6 col-xs-offset-1 col-sm-offet-2 col-md-offset-3">
    <form
      (ngSubmit)="onSignup(f)"
      #f="ngForm"
      >
      <div
        class="form-group">
        <label for="email">Mail</label>
        <input
          class="form-control"
          type="email"
          name="email"
          id="email"
          ngModel
          email
          required
          (ngModelChange)="setInputChanged()"
        >
      </div>
      <div
        class="form-group">
        <label for="password">Password</label>
        <input
          class="form-control"
          type="password"
          name="password"
          id="password"
          ngModel
          required
          [minlength]="getPasswordMinLen()"
          #password
          (ngModelChange)="setInputChanged()"
        >
        <p
          class="help-block"
          *ngIf="password.value.length < getPasswordMinLen()"
          >
          Password needs to be at least {{ getPasswordMinLen() }} characters long!
        </p>
      </div>
      <div
        class="help-block"
        *ngIf="signupFailed && inputNotChangedSinceSignup"
        >
        {{ errorMessage }}
      </div>
      <div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!f.valid"
          >
          Sign Up
        </button>
      </div>
    </form>
  </div>
</div>